body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 0px;
	margin: 0px;
	background-color: #666666;
}
h2,h3 {
	margin-top: 0px;
	padding-top: 0px;
}
div#head {
	left:0px;
	width:1024px;  
	height:250px;
	background-color: #FFFFFF;
	top: 0px;
	position: absolute;
}
div#col1 {
	position:absolute;
	left:0px;
	width:250px;
	height:250px;
	background-color: #FFFFFF;
	top: 0px;
}
div#col2 {
	position:absolute;
	width:739px;
	height:250px;
	background-color: #FFFFFF;
	left: 260px;
	top: 0px;
	font-size:11pt;
	padding-top:5px;
}
div#wrapper {
	position:relative; 
	margin-left:auto; 
	margin-right:auto; 
	top: 50px; 
	padding-bottom: 40px;
	
	width:1024px;  
	background-color: #666666;
}
div#break {
	background-color: #000066;
	width:974px;  
	position: relative;
	top: 250px;
	height:30px;
	padding-top:5px;
	padding-left:50px;
	
	font-size:13pt;
	color: #AAAAAA;
	white-space: pre;
}
div#content {
	width:974px;  
	position: relative;
	top: 250px;
	
	padding-top:10px;
	padding-bottom:30px;
	
	padding-left:25px;
	padding-right:25px;
	
	background-color: #FFFFFF;
	font-size:11pt
}
div#footer {
	width:1014px;  
	height:50px;
	position: relative;
	top: 250px;
		
	background-color: #666666;
	font-size:11pt
}
.clear {
	clear:both;
}

a.navlink:link {color:#AAAAAA} 
a.navlink:link {color:#AAAAAA} 
a.navlink:visited {color:#AAAAAA} 
a.navlink:hover {color:#FFFFFF} 
a.navlink:active {color:#AAAAAA}

/*
a.currlink:link {color:#FFFFFF; font-weight:bold;} 
a.currlink:visited {color:#FFFFFF;  font-weight:bold;} 
a.currlink:hover {color:#FFFFFF; font-weight:bold} 
a.currlink:active {color:#FFFFFF ;font-weight:bold} 
*/

a.currlink:link {color:#FFFFFF}
a.currlink:visited {color:#FFFFFF}
a.currlink:hover {color:#FFFFFF}
a.currlink:active {color:#FFFFFF}
